.titleCard{
  display: flex;
  height: 3em;
  align-items: center;
  /* margin-right: 2em; */
  background-color: rgb(231, 230, 237);
  width: 40vw;
  justify-content:flex-end;
  gap: calc(90vw/20);
  border-radius: 10px;
  text-decoration: underline;
}

.titleCard > h5{
  margin-bottom: 0;
  text-decoration: underline;
}

.memberTeam-table tr{
  border: 0;
  display: block;
  margin: 20px;
  /* border: 2px red solid; */
  background-color: rgb(231, 230, 237);
  border-radius: 10px;
}

.driverCard{
  display: flex;
  height: 7em;
  margin-top: 1.5em;
  align-items: center;
  /* margin-right: 2em; */
  background-color: rgb(231, 230, 237);
  width: 40vw;
  justify-content: space-around;
  border-radius: 10px;
}

.driverCard > *{
  margin-right: 2em;
  margin-left: 2em;
}

.driverIcon{
  object-fit: contain;
  height: 7em;
  width: 7em;
  align-self: end;
  /* margin-left: 2em; */
}

.background{
  /* background-color: rgb(41, 41, 49); */
  height: 100vh;
}

.leagueTitle{
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  /* color: white; */
}

.main-view{
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: center;


  flex-direction: column;
  align-items: center;

}

.memberNameList{
  /* display: flex; */
  padding-top: 1em;
  /* width: 20%; */
  /* background-color: rgb(146, 123, 168); */

  text-align: center;
  width: 65%;
  margin-bottom: 2em;

}

.memberName{
  margin-bottom: .6em;
  font-size: 1.2em;
  /* color: white; */
  text-align: center;
}

.memberName:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.357);
}

.memberTeam{
  display: flex;
  flex-direction: column;
  width: 50vw;
  /* background-color: rgb(52, 56, 83); */
  align-items: center;
  justify-content: center;
}

.memberTeam b{
  white-space: nowrap;
}

.dropdownList{
  /* margin-left: 15%; */
  width:15vw;
  font-size: 1.2rem; 
  max-height: 500px;
  margin: 0 1em 0 1em;
  border-radius: 5px;
}

.dropDowns{
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.memberTitle{
  margin-top: 5%;
}

.memberTeam-table{
  border-collapse: separate;
  /* color: white; */
  text-align: center;
  border-radius: 5px;
  border: transparent;
  /* width: 40vw; */
  /* width: 100%; */
  font-family: Arial, Helvetica, sans-serif;
  border-spacing: 3em 1.5em;
}

td{
  width:20%;
  /* white-space: nowrap; */
}

.memberTeam-table > thead{
  font-weight: bold
}

.green{
  color: green;
  font-weight: bold;
}

.red{
  color: red;
  font-weight: bold;
}

.loadingSpinner{
  height: 40px;
}

@media screen and (max-width: 1275px) {
  .driverCard, .titleCard {
    width:50vw;
  }

  .titleCard{
    gap: calc(105vw/20);
  }

  .dropdownList{
    width: 20vw;
  }
}

/* @media screen and (max-width: 900px) {
  .driverCard, .titleCard {
    width:50vw;
  }

  .memberNameList{
    width: 25%;
  }
} */

@media screen and (max-width: 1020px) {
  .driverCard, .titleCard {
    width:60vw;
    /* margin-left: 2em; */
  }

  .titleCard{
    gap: calc(120vw/20);
  }

  .raceList {
    font-size: 0.9rem;
  }
  .memberTitle{
    font-size: 1rem;
  }

  .dropdownList{
    width: 25vw;
  }

  .memberName{
    font-size: 0.8rem;
  }

  .memberTeam{
    width: 65%;
  }

  .memberTeam-table{
    border-spacing: 1em;
  }
}

@media screen and (max-width: 850px) {
  .driverCard, .titleCard {
    width:80vw;
    /* margin-left: 2em; */
  }

  .titleCard{
    gap: calc(165vw/20);
  }

  .dropdownList{
    width: 35vw;
  }

  .memberNameList{
    width: 100%;
  }
 
}

@media screen and (max-width: 630px) {
  .driverCard, .titleCard {
    width:98vw;
    /* margin-left: 2em; */
  }

  .titleCard{
    gap: calc(160vw/20);
  }

  .dropdownList{
    width: 44vw;
    margin: 0 0.5em 0 0.5em;
  }

  .memberNameList{
    width: 100%;
  }

  .driverCard > * {
    margin-right: auto;
    margin-left: auto;
  }
 
  .memberTeam b{
    font-size: 14px;
    white-space: nowrap;
  }
}