.container-TeamBuilder{
    display: flex;
    justify-content: center;
    width: auto;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-color: rgb(41, 41, 49); */
    /* color: white; */
}

.teams{
    display: inline-block;
    width: 30%;
    text-align: center;

}

.center-text{
    text-align: center;
}

.container-team-select{
    vertical-align:top;
    display: flex;
    justify-content: center;
    width: auto;
    flex-wrap: wrap;
    /* background-color: rgb(41, 41, 49); */
    height: 94vh;
    float: right;
    width: 65%;
    /* align-content: center; */
}

.team-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 80vh;
    overflow-y: scroll;
    
}

.team-item-container{
    background-color: rgb(62, 62, 73);
    margin: 20px 20px 0px 20px;
    min-height: 5em;
    width: 60%;
    display: flex; 
    align-items: center;
}

.teamDelete{
    background-color: rgb(200, 64, 64);
    /* color: white; */
    font-weight: bold;
    height: 3em;
    width: 8em;
    margin: 1em auto;
    border-radius: 10px;

}

.teamName{
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 0;
}

.item-container{
    background-color: rgb(209, 209, 216);
    margin: 20px 20px 0px 20px;
    height: 5em;
    width: auto;
    display: flex; 
    border-radius: 10px;
}

/* .team-item-container:hover{
    background-color: rgb(92, 92, 106);
    background-color: rgba(255, 255, 255, 0.2);
}

.item-container:hover{
    background-color: rgb(92, 92, 106);
    background-color: rgba(255, 255, 255, 0.2);
}

.item-container:hover{
    background-color: rgb(92, 92, 106);
    background-color: rgba(255, 255, 255, 0.2);
} */

.highlight:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.driverTitle{
    font-size: 18px;
    margin-left: 0.4em;
    /* color: white; */
    min-width: 55%;
    width: 10em;
}

.driverImg{
    height: 5em;
    max-width: 5em;
}

.priceLabel{
    color: green;
    position: relative;
    top: 3.5em;
    font-weight: bold;
    margin: 0;
}

.priceLabelDiv{
    position: relative;
    width: 100%;
    text-align: center;
}

.constructorImg{
    height: 2em;
    max-width: 5em;
}

.teamList{
    /* width: 25em; */
    max-height: 71vh;
    overflow-y: scroll;
}

.userTeamList{
    /* width: 25em; */
    /* max-height: 75vh; */
    display: flex;
    flex-direction: column;
}

.teamNameInput{
    text-align: center;
    min-height: 4.5em;
}

.progressBar{
    /* background-color: green; */
    width: 75em;
    /* height: 10px; */
    /* border-radius: 5px; */
    align-self: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.budget{
    /* margin-top: 1em; */
    display: flex;
    /* color: white; */
    align-items: center;
    width: 130%;
    min-height: 4em;
    justify-content: center;
}


.break{
    flex-basis: 100%;
    width: 0;
    height: 0;
}

.saveTeamButton{
    width: 10em;
    height: 2em;
    align-self: center;
    margin: 1em 1em 0em;
    border-radius: 5px;
}

.selectorButton{
    width: 9em;
    height: 2.5em;
    align-self: center;
    margin: 1em 1em 0em;
    border-radius: 5px;
    background-color: rgb(71, 78, 95);
    /* color: white; */
    border-color: rgb(71, 78, 95);
    margin-bottom: 1em;
}

.saveTeamButton:hover{
    background-color: rgb(187, 191, 198);
}

#btnOn{
    background-color: rgb(115, 123, 140);
}

#btnOff{
    background-color: rgb(71, 78, 95);
}

.selectorButtons{
    text-align: center;
    min-height: 5em;
}

.teamTitle{
    display: flex;
    /* margin-top: 1em; */
    /* color: white; */
    align-items: center;
    justify-content: center;
    min-height: 4em;
}

::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.364);
  }
  
::-webkit-input-placeholder {
    text-align: center;
}


